*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(25, 24, 59);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color:#E7F2EF;
    background-color: #708993;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(112, 137, 147);
    border-radius: 30cap;
    border: none;
    box-shadow: 0 0 1rem black;
}

#new-btn{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(112, 137, 147);
    border-radius: 30cap;
    border: none;
    box-shadow: 0 0 1rem black;
}

#msg{
    color: rgb(112, 137, 147);
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide{
    display: none;
}

.box:hover {
  background-color: #8fa5ad;
  cursor: pointer;
}
#reset:hover {
  background-color: #8fa5ad;
  cursor: pointer;
}
#new-btn:hover {
  background-color: #8fa5ad;
  cursor: pointer;
}
